<header>
  <section class="container">
    <a href="https://github.com/girorme/todox/" class="phx-logo">
      <img src={Routes.static_path(@conn, "/images/banner.png" )} alt="Todox Logo" />
    </a>
  </section>
</header>